#Introducing {
  .section1 {
    background-image: url("https://res.cloudinary.com/drqaon7o8/image/upload/v1728555071/image_9_y5vgg8.png");
    background-size: cover;
    background-repeat: no-repeat;
  }
}
